.App {
  background: lightblue;
}

.social-card {
  width:600px;
  border-style: solid;
  border-radius: 5px;
  border-color: lightgray;
  border-width: 1px;
  background: white;
  margin:0 auto;
}

.main-col {
  width: 400px;
  margin:0 auto;
}